<div class="about__app">
  <span class="about__title animate__animated animate__fadeInLeft">Aplicativo Digital, Inteligente e Personalizado</span>
  <h3 class="animate__animated animate__fadeInRight">
    <span class="primary">Concecta</span> 
    pessoas, mentores, <br>
    escolas, empresas e potencializa <br>
    <span class="primary">planos de carreira de sucesso</span>.
  </h3>
  <img class="animate__animated animate__zoomIn" src="assets/app.png" alt="App">
</div>

<style lang="sass">
.about__app
  height: 88rem
  padding: 24rem 25rem
  position: relative
  margin-bottom: 7rem
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  transform: translateY(5rem)
  background: #051115

  @media (max-width: 1080px)
    height: 119rem
    padding: 0
  
  & > span
    font-size: 2rem
    font-weight: 400
    color: #888888
    margin-bottom: 2rem

    @media (max-width: 1080px)
      font-size: 3rem

  h3
    font-size: 5rem
    font-weight: 600
    line-height: 1.2
    margin-bottom: 4rem
    letter-spacing: 0.1rem
    margin-bottom: 5rem

  img
    width: 56rem

</style>