<div class="banner" data-aos="fade-up" data-aos-duration="900" data-aos-offset="-10" data-aos-once="true">
  <span class="one">Potencializamos  autonomia do indivíduo!</span>
  <span class="two">conecte, aprenda, cresça</span>
</div>

<style lang="sass">
  .banner
    background: #DAF7F6
    color: #332663
    height: 18.2rem
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    font-size: 4.2rem

  // .one 

  .two
    font-weight: bold

</style>